/*for all*/
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
h1 {
  margin-top: 30px;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
body {
  background-color: #141414;
}

.container {
  background-color: #1f1f1f;
  margin-top: 180px;
  margin-left: 558px;
  width: 26.5%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container img {
  margin-top: 40px;
  width: 94px;
  height: 94px;
  border-radius: 50%;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
